@CHARSET "ISO-8859-1";

.container #headerImage {
	background: url('../../images/about.jpg') no-repeat center center;
}

.img-circle {
	width: 140px;
	height: 140px;
} 

.img-rectangular {
	width: 300px;
}

.jumbotron p{
	color: #ffffff;
    text-shadow: 1px 0px 0px black, -1px 0px 0px black, 0px 1px 0px black, 0px -1px 0px black;
}

.jumbotron {
	background-color: #1D987B
}

@media (max-width: 743px){
	.img-circle {
	    display: block;
    	margin-left: auto;
    	margin-right: auto;
	}
	.img-circle-sub {
		margin-left: auto;
		margin-right: auto;
		width: 3em;
	}
	.img-rectangular {
	    display: block;
    	margin-left: auto;
    	margin-right: auto;		
	}
}

@media (min-width: 744px){
	.col-lg-4{
		width: 33.3%;
		float: left;
	}
	#middle-col {
	 	margin-right: -50%;
    	left: 50%;
    	transform: translate(-50%, 0%);
	}
	#middle-col img{
	    display: block;
    	margin-left: auto;
    	margin-right: auto;
	}
	#middle-col p {
	    margin-left: auto;
    	margin-right: auto;
	}
	#middle-col h2 {
		margin-left: auto;
		margin-right: auto;
		width: 3em;
	}
}
