@CHARSET "ISO-8859-1";

#content-container {
	margin-top: 20px;
	margin-bottom: 20px;
}

.container .jumbotron {
	background: url('../../images/index1.jpg') no-repeat center center;
	background-size: 100% 140%;
}

.container .jumbotron .p {
	margin-bottom: 0px;
	margin-top: 0px;
	font-weight: bold;
	text-shadow: 1px 0px 0px black, -1px 0px 0px black, 0px 1px 0px black, 0px -1px 0px black;
}

#h1 {
	text-shadow: 1px 0px 0px black, -1px 0px 0px black, 0px 1px 0px black, 0px -1px 0px black;
}

#mainText {
	color: white;
	border-color: black;
}

@media (max-width: 768px) {
	.container .jumbotron {
		height: 250px;
	}
	#h1 {
		font-size: 20px;
	}
	#mainText {
		margin-top: 100px;
	}
	.container .jumbotron .p {
		font-size: 15px;
	}
}


@media (min-width: 769px) {
	.container .jumbotron {
		height: 350px;
	}
	#h1 {
		font-size: 25px;
	}
	#mainText {
		margin-top: 160px;
	}
	.container .jumbotron .p {
		font-size: 20px;
	}
}

@media (min-width: 992px){
	.container .jumbotron {
		height: 450px;
	}
	#h1 {
		font-size: 30px;
	}
	#mainText {
		margin-top: 250px;
	}
	.container .jumbotron .p {
		font-size: 20px;
	}
}
