@CHARSET "ISO-8859-1";

.container #headerImage {
	background: url('../../images/blog.jpg') no-repeat center center;
}

@media (max-width: 991px) {
    #body {
        background-color: #e7b700;
    }
}

@media (min-width: 992px){
    #body {
        background-image: url('../../images/body_background2.png');
          background-position-x: -450px;
        background-repeat-x: no-repeat;
        background-size: 174%;
    }
}

@media (min-width: 1200px){
    #body {
        background-image: url('../../images/body_background2.png');
   		background-position-x: -350px;
    	background-repeat-x: no-repeat;
    	background-size: 150%;
    }
}