@CHARSET "ISO-8859-1";

.jumbotron.comments {
    background-color: #F1F1F1;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 0;
}

#comment_author {
	font-size: 12px;
	font-style: italic;	
	margin-bottom: 0px;
}

#comment_title {
	margin-top: 0px;
}

#comment_text {
	font-size: 12px
}