@CHARSET "ISO-8859-1";

.container #headerImage {
	background: url('../../images/contact.jpg') no-repeat center center;
}

.container .jumbotron {
	background-color: #858585;
}

.jumbotron p {
	color: #ffffff;
    text-shadow: 1px 0px 0px black, -1px 0px 0px black, 0px 1px 0px black, 0px -1px 0px black;
}

#form_col {
	margin-top: 10px;
	width: 50%;
}

#petImg_col {
    margin-top: 50px;
}

#petImg {
	width: 200px;
}

#boneButton {
	width: 85px;
}