@CHARSET "ISO-8859-1";

.panel-footer {
	background: url('../../images/logoFooter.png') center center;
  	background-size: 60%;
  	background-repeat-y: no-repeat;
  	background-position-y: 100%;
  	background-color: #e9b901;
}

@media (max-width: 992px){
	.panel-footer {
		background: url('../../images/logoFooter.png') center center;
  		background-size: 100%;
  		background-repeat-y: no-repeat;
  		background-position-y: 100%;
  		background-color: #e9b901;
	}
}

@media (min-width: 992px){
	.footer {
		margin-left: auto;
		margin-right: auto;
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.footer {
		width: 1170px;
		margin-left: auto;
		margin-right: auto;
	}
}

.panel-footer>p {
	color: #FFFFFF;
	text-shadow: 1px 0px 0px black, -1px 0px 0px black, 0px 1px 0px black, 0px -1px 0px black;
}
