@CHARSET "ISO-8859-1";


#content-container {
	margin-top: 20px;
}

.container #headerImage {
	background-size: 100% 100%;
}

@media (max-width: 768px){
	.container #headerImage {
		height: 250px;
	}
}

@media (min-width: 769px){
	.container #headerImage {
		height: 350px;
	}
}

@media (min-width: 992px){
	.container #headerImage {
		height: 400px;
	}
}

.container #headerText {
	color: #ffffff;
	text-shadow: 1px 0px 0px black, -1px 0px 0px black, 0px 1px 0px black, 0px -1px 0px black;
}


@media (max-width: 768px){
	.container #headerText {
		margin-top: 190px;
	}
}

@media (min-width: 769px){
	.container #headerText {
		margin-top: 290px;
	}
}


@media (min-width: 992px){
	.container #headerText {
		margin-top: 310px;
	}
}

.container .jumbotron {
	padding: 10px 15px;
	margin-bottom: 0px;
}

.footer {
	text-align: center;
	margin-top: 20px;
}

.footer-ul {
	list-style-type: none;
	display: inline-block;
	padding-left: 0px;
}

.footer-ul li {
	display: inline-block;
	padding: 5px 5px;
}