@CHARSET "ISO-8859-1";

.container.marketing {
	background-image: url('../../images/wallpaperIndexDesk4.png');
    background-repeat: no-repeat;
    background-size: 40% 80%;
    margin-top: 10px;
    border-radius: 6px;
    background-position-y: 50px;
    background-position-x: 40px;
}

.col-lg-4#blog {
	min-width: 50%;
	margin-left: 50%
}

@media (max-width: 600px) {
	.container.marketing {
		background-image: none;
	}
	.col-lg-4#thinking {
		background-image: url('../../images/wallpaperIndexDesk4.png');
    	background-repeat: no-repeat;
    	background-size: 60% 90%;
    	height: 300px;
    	background-position-x: 50%;
    	background-position-y: 20px;
	}
	.col-lg-4#blog{
		margin-left: 0px;
		margin-top: -20px;
	}
	
}

.carousel {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

@media (min-width: 768px){
	.carousel {
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 992px){
	.carousel {
		margin-left: auto;
		margin-right: auto;
  		width: 970px;
	}
}

@media (min-width: 1200px){
	.carousel {
		margin-left: auto;
		margin-right: auto;
		width: 1170px;
	}
}

@media (max-width: 768px) {
	.carousel-inner>.item>img {
		top: 0;
		left: 0;
		min-width: 100%;
		max-height: 250px;
		height: 20%;
	}
}


@media (min-width: 769px) {
	.carousel-inner>.item>img {
		top: 0;
		left: 0;
		min-width: 100%;
		max-height: 350px;
		height: 20%;
	}
}

@media (min-width: 992px){
	.carousel-inner>.item>img {
		top: 0;
		left: 0;
		min-width: 100%;
		max-height: 450px;
		height: 20%;
	}
}

#scrollable-area {
	height: 400px;
	min-width: 50%;
	margin-left: -40px;
}

.scrollable-menu {
	height: auto;
	max-height: 350px;
	overflow-x: hidden;
	box-sizing: border-box;
}

.carousel-caption {
	text-shadow: 1px 0px 0px black, -1px 0px 0px black, 0px 1px 0px black, 0px -1px 0px black;
}

@media (max-width: 768px){
	.carousel-caption p {
	    margin-left: -40px;
  		margin-right: -40px;
  		margin-bottom: -35px;
	}
	.carousel-caption h1 {
		font-size: 20px;
	}
	.carousel-indicators {
		visibility: hidden;
	}
}

h2 {
	color: #FFFFFF;
	text-shadow: 1px 0px 0px black, -1px 0px 0px black, 0px 1px 0px black, 0px -1px 0px black;
}