@CHARSET "ISO-8859-1";

#body{
	overflow-x: hidden;
}

.container #headerImage {
	background: url('../../images/mission.jpg') no-repeat center center;
}

.jumbotron {
	background-color: #486455;
}

.jumbotron p {
	color: #ffffff;
	text-shadow: 1px 0px 0px black, -1px 0px 0px black, 0px 1px 0px black, 0px -1px 0px black;
}
