@CHARSET "ISO-8859-1";

#navbarContainer {
	background: url('../../images/dogsNavbar.png') no-repeat right center;
	background-size: 10%;
	background-position-y: 100%;
	background-color: #e9b901;
}

@media (max-width : 991px) {
	#navbarContainer {
		background-size: 20%;
		background-position-x: 85%;
	}
}

@media (max-width : 500px) {
	#navbarContainer {
		background-size: 40%;
		background-position-x: 70%;
	}
}

@media (min-width: 992px) {
	#navbarContainer {
		width: 970px;
		margin-left: auto;
		margin-right: auto;
		background-size: 20%;
		background-position-x: 85%;
	}
}

@media (min-width: 1200px) {
	#navbarContainer {
		width: 1170px;
		margin-left: auto;
		margin-right: auto;
		background-size: 15%;
		background-position-x: 90%;
	}
}


.buttonImg {
  width: 15px;
  height: 15px;
  margin-right: 3px;
}

@media (max-width: 991px) {
	.buttonImg {
  		width: 25px;
  		height: 25px;
	}
}


#MainBarLogo {
	height: 600%;
	margin-top: -15px;
}

.linkOtherLogos {
	width: 30px;
	height: 30px;
	margin-top: 10px;
}

.imageOtherLogos {
	margin-top: -15px;
	margin-left: -15px;
	padding: 2px;
}

@media ( max-width : 991px) {
	#navBarLogos {
		margin-left: 90%%;
		margin-top: 20px;
	}
	#navBarItens {
		margin-left: 65%;
	}
	.navbar-form {
		margin-top: -100px;
		margin-bottom: 20px;
		border-top: none;
		border-bottom: none;
	}
	.loginForm {
		margin-left: 0%;
	}
}

#navbar {
	overflow: hidden;
}

.navbar {
	background-color: #e9b901;
}

.dropdown-menu {
	background-color: #e9b901;
}

.navbar-default .navbar-nav>li>a {
	color: #FFFFFF;
	text-shadow: 1px 0px 0px black, -1px 0px 0px black, 0px 1px 0px black, 0px -1px 0px black;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
	color: #FFFFFF;
	text-shadow: 1px 0px 0px black, -1px 0px 0px black, 0px 1px 0px black, 0px -1px 0px black;	
}