@CHARSET "ISO-8859-1";

.container #headerImage {
	background: url('../../images/servicesLogo.jpg') no-repeat center center;
}

.jumbotron {
	background-color: #8370E6;
}

.jumbotron p {
	color: #ffffff;
    text-shadow: 1px 0px 0px black, -1px 0px 0px black, 0px 1px 0px black, 0px -1px 0px black;
}

.col-lg-4>p {
	color: #FFFFFF;
	text-shadow: 1px 0px 0px black, -1px 0px 0px black, 0px 1px 0px black, 0px -1px 0px black;
} 

.col-lg-4>h2 {
	color: #FFFFFF;
	text-shadow: 1px 0px 0px black, -1px 0px 0px black, 0px 1px 0px black, 0px -1px 0px black;
}

.row {
	padding-top: 10px;
}

.servicesImgs {
	max-height: 350px;
	border-radius: 15px;
}

@media (max-width: 1199px){
	.services-img{
	   	width: 460px;
	    border-radius: 15px;
	    height: 300px;
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	}
	#img-sub-1 {
		margin-left: auto;
		margin-right: auto;
		width: 16em;
	}
	#img-sub-2 {
		margin-left: auto;
		margin-right: auto;
		width: 5em;
	}
}

@media (min-width: 1200px){
	.col-lg-4 {
		width: 50%;
		padding-left: 30px;
	}
	.services-img{
	    width: 460px;
	    border-radius: 15px;
	    height: 300px;
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	}
}